.wedding-content-frame {
  --wedding-frame-color: #aaa;
  --wedding-frame-weight: 1px;

  --savile-width: clamp(11rem, 20vw, 19rem);
  --angel-width: clamp(8.25rem, 14.5vw, 13.5rem);

  --frame-top-gap: clamp(8rem, 14vw, 13rem);
  --frame-right-start: clamp(10rem, 16vw, 14rem);

  position: relative;
  margin-block: clamp(2rem, 5vw, 4rem);

  &::before,
  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
  }

  // Top
  &::before {
    top: 0;
    left: 0;
    right: var(--frame-top-gap);
    border-top: var(--wedding-frame-weight) solid var(--wedding-frame-color);
  }

  // Bottom
  &::after {
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: var(--wedding-frame-weight) solid var(--wedding-frame-color);
  }
  &__inner {
    max-width: 70rem;
    margin-inline: auto;
    padding: clamp(2.5rem, 6vw, 5rem);

  }

  &__ornament {
    position: absolute;
    z-index: 1;
    color: var(--wedding-frame-color);
    pointer-events: none;

    svg {
      display: block;
      width: 100%;
      height: auto;
    }

    &--savile {
      bottom: -0.25rem;
      left: -0.25rem;
      width: var(--savile-width);
    }

    &--holy-trinity {
      top: -3rem;
      right: -0.65rem;
      width: var(--angel-width);
    }
  }

  &__border {
    position: absolute;
    width: var(--wedding-frame-weight);
    background-color: var(--wedding-frame-color);
    pointer-events: none;

    &--left {
      top: 0;
      bottom: 0;
      left: 0;
    }

    &--right {
      top: var(--frame-right-start);
      right: 0;
      bottom: 0;
    }
  }
}

@media (max-width: 767.98px) {
  .wedding-content-frame {
    --savile-width: clamp(8rem, 30vw, 11rem);
    --angel-width: clamp(7rem, 27vw, 10rem);

    --frame-top-gap: clamp(7rem, 13vw, 12rem);
    --frame-right-start: clamp(9rem, 13vw, 14rem);

    &__ornament {
      &--savile {
        width: var(--savile-width);
      }

      &--holy-trinity {
        width: var(--angel-width);
        top: -2rem;
      }
    }
  }
}
